<!DOCTYPE html>
<html>

<head>
    <title>
        Erudite
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
</head>

<body>

    <nav style="background-color: #1E88E5">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Erudite</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="create">Create New Project</a></li>
                <li><a href="dashboard">Dashboard</a></li>

            </ul>
        </div>
    </nav>

    <div class="center container">
        <div style="margin-top: 5%">
            <img width="300" height="300" src="/images/erudite-logo.png" />
            <h1>E   R   U   D   I   T   E</h1>
            <div class="searchDiv center row">
                <div class="col s12">
                    <form>
                        <div class="form-group" action="index.html" method="post">
                            <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <button type="submit" style="background-color: #1E88E5" class="center-block btn btn-default">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="/materialize/js/materialize.min.js" type="text/javascript"></script>
</body>

</html>
